.dialog {
    margin-bottom: 5em;
    background-color: #FFFFFF;
    margin-top: 3em;
    padding: 1em;
    text-align: center;
    border-radius: 3px;
    min-height: 250px;
    border: 1px solid rgba(0,0,0,.09);
}
.exit {
    float: right;
    margin: 0.1em 0em 0 0;
}
.exit:hover {
  color: red;
}
.edit:hover {
  color:#02B875;
  font-size: 20px;

}
.delete:hover {
  color : red;
  font-size: 20px;
}
