<div class="container login">
    <h1>Connectez-Vous</h1>
    <div class="row">
        <form class="">
          <div class="col-xs-12">
            <input type="email" ng-model="$ctrl.email" placeholder="email">
          </div>
          <div class="col-xs-12">
            <input type="password" ng-model="$ctrl.password" placeholder="password">
          </div>
        </form>
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary">Login</button>
        </div>
    </div>
</div>
